.navbar {
  /* background-color: cornflowerblue; */
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 a {
  margin-left: 2rem;
  text-decoration: none;
}
.navbar h1 :hover {
  color: teal;
}

.links {
  margin: 1rem 3rem;
}

.links a {
  margin-left: 1rem;
  text-decoration: none;
}

.links a:hover {
  color: teal;
}
