.table {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.circular {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataKosong {
  /* background-color: burlywood; */
  border: 1px solid #333;
  width: 99%;
  margin: auto;
  text-align: center;
}
